body{
    background-size:cover;
    background-position: center;
    }
    
    .heading
    {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    }
    
    #status
    {
    font-size: 18px;
    margin-top: 0px;
    }
    
    canvas{
        box-shadow: black 1px 1px 10px;
        border-radius: 5px;
        border-style: dashed;
        border-color: deepskyblue;
        border-width: 5px;
    }
    
    